* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7rem;
}

body {
    height: 100vh;
    background-color: black;
    overflow-y: hidden;
    padding-bottom: 6rem;
}

/* general */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

/* header - barra nera */
header {
    margin-bottom: 6rem;
} 

.black-bar {
    position: fixed;
    inset: 0 0 auto 0;
    width: 100vw;
    height: 6rem;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    z-index: 99;
}

.black-bar .speaker, .arrows {
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}

.link-speaker, .link-arrows {
    background-color: rgba(74,74,74,255);
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
}

/* main - immages */
main {
    height: calc(100vh - 6rem - 6rem);
    overflow-y: auto;
}

.flex-main {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 0.3rem;
    color: white;
}

.card {
    position: relative;
    margin-bottom: 00.3rem;
}

.card img {
    display: block;
}

.flex-main .card {
    flex: 1 1 168px;
    
}

.flex-main img {
    width: 100%;
}

.pinco-pallo {
    background-color: rgba(101,113,124,255);
    width: 6.5rem;
    position: absolute;
    bottom: 2px;
    left: 0;
}

/* inizio footer */
.flex-footer {
    background-color: rgba(34,34,34,255);
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 6rem;
    
    
}

.flex-footer i {
    font-size: 2rem;
}

.flex-footer .fa-angle-up {
    font-size: 1rem;
}

.end-meeting {
    color: red;
    background-color: rgba(74,74,74,255);
    /* padding: 2.3rem 1.5rem; */
}

.fa-share-from-square {
    color: rgba(75,200,0,255);
}

.icon-left {
    display: flex;
    text-align: center;
    flex-grow: 2;
    align-items: center;
    gap: 1rem;
    margin-left: 0.5rem;
}

.icon-center {
    display: flex;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon-right {
    display: flex;
    align-items: stretch;
    flex-grow: 2;
    justify-content: flex-end;
    line-height: 6rem;
}

